<h1>Editing exam</h1>

<%= render "form", exam: @exam %>

<br>

<div>
  <%= link_to "Show this exam", [current_user, @ambiente, @exam] %> |
  <%= link_to "Back to exams", user_ambiente_exams_path(current_user, @ambiente) %>
</div>
